body{
  /* background: linear-gradient(to right, #00cc99 0%, #9966ff 100%); */
  background: rgb(242, 242, 242);
  font-family: 'Raleway', sans-serif;
}

.form{
  width: 400px;
  height: 400px;
  padding: 21px;
  margin: 5% 32%;
  border-radius: 3%;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(65, 64, 64);
}

.logo{
  text-decoration: double !important;
  font-size: 40px;
  font-family: Arial,Helvetica, sans-serif;
  background: linear-gradient(to right, #21c6f3, #ff1808,#f6fd75, #44ee4f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: "";
  font-family: 'Dancing Script', cursive !important;
  font-weight: bold;
}

.l{
  text-decoration: none !important;
  color: white;
}

.button{
  background-color: darkcyan;
  padding: 10px !important;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  display: block;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  width: 100%;
}

#h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px !important;
  align-items: center !important;
}

.Commonbtn{
  background-color: teal !important;
}

.navLog{
  text-align: center;
  margin: 0 0 0 28%;
}

.profileBtn{
  color: white !important;
  border-color: white !important;
}

.inputs{
  width: -webkit-fill-available;
  margin: 20px 0px;
  padding: 10px 3px;
}

#line{
  text-align: center;
}

.menu{
  width: 380px;
  height: 100%;
  padding: 21px;
  margin: 1% auto auto auto;
  border-radius: 3%;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 119, 119);
}

.othermenu{
  width: 380px;
  padding: 21px;
  margin: 3% auto auto auto;
  border-radius: 3%;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(120, 119, 119);
}

li{
  /* border: 1px solid grey; */
  /* padding: 10px; */
  list-style-type: none;
  /* border-radius: 5% !important; */
  /* border-width: 2px; */
  text-align: center;
  /* border-color: rgb(4, 172, 172); */
  /* color: darkcyan; */
}

.menuBtn{
  background-color: white;
  border: none;
  background-color: darkcyan;
  padding: 15px !important;
  border: none;
  border-radius: 5px;
  align-items: center !important;
  display: block;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  width: 100%;
}

ul{
  padding: 0 !important;
  margin: 0 !important;
}

.heading{
  color: grey;
  font-size: 15px;
  text-align: center;
}

.navbar{
  background-color: white;
  padding-left: 450px !important;
  height: 50px;
  font-size: smaller;
  box-shadow: 0px 1px 10px rgb(65, 64, 64);
}

.icon{
  border: 1px solid grey;
  border-radius: 50%;
  background-color: teal;
  width: 10px;
  height: 10px;
  padding: 3px 5px;
  margin-right: 5px;
  color: white;
}

.idlog{
  border: 1px solid grey;
  padding: 5px 10px;
  margin-bottom: 25px;
  margin-right: 30px;
  background-color: white;
}

.profile{
  border: 1px solid grey;
  border-radius: 50%;
  background-color: white;
  color: teal;
  margin: 5% 45%;
  width: 100px;
  height: 100px;
  font-size: 80px;
  text-align: center;
}

.details{
  width: 500px;
  height: 120px;
  padding: 21px;
  margin: 5% 30%;
  border-radius: 3%;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(65, 64, 64);
}

.usname{
  text-align: center;
  margin-top: -20px;
}

.items{
  color: black;
}

.compose{
  max-width:50%;
  margin: 2% auto;
  padding: 1%;
}

.txt{
  padding: 100px;
}

/* Mail CSS Properties */
.item{
  max-width: 800px !important;
  min-height: 200px !important;
}

.h2{
  text-align: left; 
  color: black;
  font-weight: 100
}

.d{
  position: absolute !important;
}

.av{
  background-color: purple !important;
  display: inline-flex !important;
  align-items: left !important;
}

.addr{
  display: inline-flex !important;
  margin-left: 10px !important;
}

.time{
  display: inline-flex !important;
  margin-left: 450px !important;
}

.msgBox{
  background-color: rgb(218, 216, 216);
  min-width: 700px;
  max-width: 800px; 
  margin-top: 30px; 
  min-height: inherit !important; 
  padding: 20px;
}

.mainBox{
  background-color: white; 
  padding: 10px;
  min-height: inherit;
}

.replyBtn{
  color: black !important;
  border-radius: 20px !important;
  border-color:black !important;
  padding: 5px !important;
  margin: 10px 5px 10px 5px !important;
  align-items: left !important;
}